
// -------------------------------------
// WRAPS EVERYTHING ON INTRO PAGE
.intro-wrapper{
	background-color: #fff;
	@include clearfix;
	margin: 3% 5% 0;
	//BREAKPOINTS
	@include breakpoint(mobile-flip) {
		margin-top: 1%;
		}	
} 		
 
// -------------------------------------
// HERO HEADING - USING FITTEXT TO ALWAYS KEEP 1 LINE/MAX WIDTH TEXT 
.intro-hero {
	width: 100%;
	margin-bottom: 3.3%;
	//BREAKPOINTS
	@include breakpoint(medium) { margin-top: 6%; }
	@include breakpoint(mobile-flip) { margin-top: 12%; }
	@include breakpoint(small) { margin-top: 15%; }
	@include breakpoint(oldp) { margin-top: 25%; }
	@include breakpoint(newp) { margin-top: 22%; }	
}
// DON'T REALLY NEED THIS CLASS TO CENTER TEXT, BUT NEED TO
// KEEP IT SO FITTEXT.JS WILL WORK (NEEDS CHILD CONTAINER)
.intro-hero-text {
	text-align: center;
}


// -------------------------------------
// SPLITS HERO TEXT WITH THE REST OF THE CONTENT
.intro-split-content {
	@include clearfix;
	box-sizing: border-box;
	width: 100%;
	padding: 0 2%;	
}

// CONTENT FLOATED LEFT OF MONITOR. ON MOBILE FLIP
// FLOAT NONE, HIDE SKYPE (WILL REPLACE W/ DIFF ICON)
.skype-box {
	float: left;
	margin-top: 4%;
	//BREAKPOINT
	@include breakpoint(mobile-flip) {
		width: 100%;
		margin: 0 0 5%;
		float: none;
		}
}
// TOP  MOST HEADING FOR SKYPE BOX
.skype-box-head {
	box-sizing: border-box;
	margin: 0 0 8%;
	font-family: $h2-font-fam;
	color: $darkgrey;
	font-weight: 400;
	line-height: 1.2em;
	@include font-size(42px);
	//BREAKPOINTS
	@include breakpoint(laptop) { @include font-size(35px); }
	@include breakpoint(netbook) { @include font-size(26px); }
	@include breakpoint(medium) { @include font-size(22px); }
	@include breakpoint(small) { @include font-size(21px); }
	@include breakpoint(newp) { @include font-size(20px); }
	@include breakpoint(oldp) { @include font-size(19px); }
	// LAYOUT CHANGE
	@include breakpoint(mobile-flip) {
		float: none;
		box-sizing: border-box;
		margin: 0;
		padding: 0 1%;;
		text-align: center;
		transition: all 1s;
		}
}

// SPLITS TEXT AND SKYPE CALL IN IMG
.skype-box-split {
	@include clearfix;	
}
.skype-box-subhead {
	box-sizing: border-box;
	margin-top: 7%;
	float: left;
	font-family: $h2-font-fam;
	color: $darkgrey;
	font-weight: 400;
	line-height: 1.2em;
	@include font-size(31px);
	//BREAKPOINTS
	@include breakpoint(laptop) { @include font-size(27px); }
	@include breakpoint(netbook) { @include font-size(22px); }
	@include breakpoint(medium) { @include font-size(17px);	}
	@include breakpoint(small) { @include font-size(17px); }
	@include breakpoint(newp) {	@include font-size(17px); }
	@include breakpoint(oldp) {	@include font-size(16px); }
	// LAYOUT CHANGE
	@include breakpoint(mobile-flip) {
		box-sizing: border-box;
		width: 100%;
		margin: 5% 0 0;
		padding: 0 1%;
		text-align: center;
		transition: all 1s;
	}
}

.skype-box-img {
	float: left;
	margin-left: 11%;
	width: 22%;
	//BREAKPOINTS
	@include breakpoint(laptop) { width: 21%; }
	@include breakpoint(netbook) { width: 20%; }
	@include breakpoint(medium) { 
		width: 16%; 
		margin-top: 2%;	
	}
	@include breakpoint(mobile-flip) { display: none; }
		-webkit-transition: all .2s ease-in-out;	
	transition: all .2s ease-in-out;
}

.skype-box-img:hover {
	transform: scale(1.05);
}

.skype {
	width: 100%;
	opacity: 1;
	-webkit-transition: all .2s ease-in-out;	
	transition: all .2s ease-in-out;
	box-shadow: 0px 20px 30px -24px rgba(50, 50, 50, 0.1);
	
}

.skype:hover {
	transform:translateY(-10px);
	box-shadow: 0px 30px 30px -20px rgba(50, 50, 50, 0.37);
}



// NOT USING RIGHT NOW, IF NEEDED, INTRO-BR
// GETS RID OF LINE BREAKS FOR MOBILE VIEW
.intro-br {
		@include breakpoint(oldp) { }
}


// -------------------------------------
// MONITOR IMG AND CONTAINER FOR SCALING
.monitor-box {
	float: right;
	width: 58%;
	//BREAKPOINTS
	@include breakpoint(medium) { width: 52%; }
	@include breakpoint(mobile-flip) {
		float: none;
		box-sizing: border-box;
		padding: 3% 10% 0 10%;
		width: 100%;
		transition: all 1s;
		}
}

// WRAPS MONITOR AND PLAY BUTTON
// BUTTON ABSOLUTE POSITIONING BASED ON THIS CONTAINER
.center-play {
	width: 100%;
	position: relative;
}
.monitor {
	width: 100%;
}
// MAIN BUTTON AND HOVER
.play-button {
	position: absolute;
	top: 27%;
	left: 39.35%;
	width: 20%;
	width: 20%;
	box-sizing: border-box;
	border-radius: 50%;
	border: 4px solid rgb(255, 255, 255);
	box-shadow:  0 0 13px 3px rgba(23, 23, 23, 0.29);
	opacity: .9;
	-webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    -webkit-animation-direction: normal;
    -webkit-animation-duration: 5s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-name: flip-point;
    -webkit-animation-timing-function: ease-in-out;
	animation-direction: normal;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out; 
	animation-name: flip-point;
}

@media screen and (min-width:701px) {
	@-webkit-keyframes 'flip-point' {
	0%,16% {
		-ms-transform: rotate(90deg); /* IE 9 */
		-webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
		transform: rotate(90deg);	
		}
	25% {
		-ms-transform: rotate(0deg); /* IE 9 */
		-webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
		transform: rotate(0deg);	
		}
	42% {
		-webkit-transform: rotateX(0deg); /* Chrome, Safari, Opera */
		transform: rotateX(0deg);
		}
	48% {
		-webkit-transform: rotateX(-70deg); /* Chrome, Safari, Opera */
		transform: rotateX(-70deg);	
		}
	52% {
		 -webkit-transform: rotateY(90deg); /* Chrome, Safari, Opera */
		transform: rotateY(90deg);
		}
	57% {
		-webkit-transform: rotateX(0deg); /* Chrome, Safari, Opera */
		transform: rotateX(0deg);	
		}
	93% {
		-ms-transform: rotate(0deg); /* IE 9 */
		-webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
		transform: rotate(0deg);	
		}
	99%,100% {
		-ms-transform: rotate(90deg); /* IE 9 */
		-webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
		transform: rotate(90deg);	
		}
  	}
}

.play-button:hover {
	opacity: .95;
	box-sizing: border-box;
	border-radius: 100%;
	-webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
	box-shadow:  0 0 10px 5px rgba(0, 0, 0, 0.56);
	border: 10px solid rgba(255, 255, 255, 0.31);
}

// SAME BUTTON LAYERED BEHIND USED FOR BURSTING ANIMATION
.play-button-animate {
	position: absolute;
	top: 28.25%;
	left: 40.4%;
	width: 18%;
	height: 23%;  
	background-color: rgb(255, 255, 255);
	border-radius: 100%;  
	box-sizing: border-box;
	box-shadow: 0 0 10px 10px rgb(255, 255, 255);
	-webkit-animation: burst 5s infinite linear;
  	animation: burst 5s infinite linear;
}

@-webkit-keyframes burst {
	0% { opacity: .8; }
	25% { opacity: .2; }	
	35% { opacity: 0; }
	45% {
		-webkit-transform: scale(1.7);
		transform: scale(1.7);
		opacity: 0;
	}
	100% { 	opacity: 0;	}
}

@keyframes burst {
	0% { opacity: .8; }
	35% { opacity: 0; }
	45% {
		-webkit-transform: scale(1.7);
		-ms-transform: scale(1.7);
		transform: scale(1.7);
		opacity: 0;
	}
	100% { opacity: 0; }
}

//     

img {
	max-width: 100%;
}


#open-popup {
	padding:0;
	cursor: pointer;
}




@media screen and (max-width:700px) {
	
@-webkit-keyframes 'flip-point' {
0%,16% {
	-ms-transform: rotate(90deg); /* IE 9 */
    -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
    transform: rotate(90deg);	
	}
25% {
	-ms-transform: rotate(0deg); /* IE 9 */
    -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
    transform: rotate(0deg);	
	}
42% {
    -webkit-transform: rotateX(0deg); /* Chrome, Safari, Opera */
    transform: rotateX(0deg);
	}
48% {
    -webkit-transform: rotateX(0deg); /* Chrome, Safari, Opera */
    transform: rotateX(0deg);	
	}
52% {
	 -webkit-transform: rotateY(0deg); /* Chrome, Safari, Opera */
    transform: rotateY(0deg);
	}
57% {
	-webkit-transform: rotateX(0deg); /* Chrome, Safari, Opera */
    transform: rotateX(0deg);	
	}
93% {
	-ms-transform: rotate(0deg); /* IE 9 */
    -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
    transform: rotate(0deg);	
	}

99%,100% {
	-ms-transform: rotate(90deg); /* IE 9 */
    -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
    transform: rotate(90deg);	
	}
}
	
}
























/*
.logo-small {
	display: inline-block;
	padding: 6px 0 8px;
	@include breakpoint(small) { width: 82px; }
	@include breakpoint(newp) {	width: 82px; padding: 0 0 5px; }
	@include breakpoint(oldp) {	width: 78px; padding: 0 0 5px; }
}
*/















